<header class="header">
    <nav class="nav-container">
        <a href="index.html" class="logo">University Hub</a>
        
        <ul class="nav-links">
            <li><a href="academics.html">Academics</a></li>
            <li><a href="extracurriculars.html">Extracurriculars</a></li>
            <li><a href="essays.html">Essays</a></li>
            <li><a href="awards.html">Awards</a></li>
            <li><a href="financial-aid.html">Financial Aid</a></li>
            <li><a href="timeline.html">Timeline</a></li>
        </ul>
        
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="Search resources...">
        </div>
    </nav>
</header>
